.grid {
    pointer-events: none;
    height: 0;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    bottom: 100vh;
    left: 0;
    right: 0;
    z-index: 200;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: height, bottom, opacity, left
}

.grid--active {
    bottom: 0;
    opacity: 1;
    height: 100vh
}

@media (max-width: 1024px) {
    .grid {
        left: 0;
        right: 0;
        position: fixed
    }
}

.grid .row {
    height: 100vh
}

.grid .demo-col:before {
    content: "";
    box-sizing: border-box;
    background-color: rgba(119, 0, 255, .039);
    border-left: 1px solid rgba(255, 79, 18, .302);
    border-right: 1px solid rgba(255, 79, 18, .302);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px
}

.rt-extension-dark-theme .grid .demo-col:before {
    background-color: rgba(255, 255, 255, .03)
}

.grid .demo-col:after {
    content: "";
    box-sizing: border-box;
    border-left: 1px solid rgba(188, 16, 75, .349);
    border-right: 1px solid rgba(188, 16, 75, .349);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 30px
}

.rt-extension-col {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 1;
    -ms-flex: 0 0 1;
    flex: 0 0 1
}

.rt-extension-col-1, .rt-extension-col-12 {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative
}

.rt-extension-col-1 {
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.rt-extension-col-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1
}

.rt-extension-col-12 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1
}

.rt-extension-col-12 {
    -webkit-flex: 0 0 99.999996%;
    -ms-flex: 0 0 99.999996%;
    flex: 0 0 99.999996%;
    max-width: 99.999996%
}


@media (max-width: 1024px) {
    .rt-extension-col-td-1 {
        -webkit-flex: 0 0 16.66666%;
        -ms-flex: 0 0 16.66666%;
        flex: 0 0 16.66666%;
        max-width: 16.66666%
    }
}

@media (max-width: 1024px) {
    .rt-extension-col-td-1 {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1
    }
}

@media (max-width: 767px) {
    .rt-extension-col-md-1 {
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}

@media (max-width: 767px) {
    .rt-extension-col-md-1 {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1
    }
}


.extension-row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -10px;
    margin-right: -10px;
    -ms-flex-wrap: wrap
}
.rt-extension-container {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
    transition-property: opacity, visibility
}

@media (max-width: 1280px) {
    .rt-extension-container {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media (max-width: 1024px) {
    .rt-extension-container {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 767px) {
    .rt-extension-container {
        padding-left: 10px;
        padding-right: 10px
    }
}


@media (max-width: 1024px) {
    .td-d-none {
        display: none !important
    }
}

@media (max-width: 767px) {
    .md-d-none {
        display: none !important
    }
}

.demo-col {
    min-height: 100vh
}